<!doctype html>
<html lang="en" class="dark min-h-[10vh]" data-pgc-master="master.html">
    <head>
        <meta charset="utf-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
        <title data-pgc-field="title">{{meta.siteName}}</title>
        <meta property="og:description" content="Custom coded websites with great peformance and high ranking SEO, serving small businesses in Austria" data-pgc-field="description"/>
        <link href="../../tailwind_theme/tailwind.css" rel="stylesheet" type="text/css" data-pgc-field="style-link"/>
        <script>
      // On page load or when changing themes, best to add inline in `head` to avoid FOUC
      if (
        localStorage.getItem("color-theme") === "dark" ||
        (!("color-theme" in localStorage) &&
          window.matchMedia("(prefers-color-scheme: dark)").matches)
      ) {
        console.log("here");
        document.documentElement.classList.add("dark");
      } else {
        document.documentElement.classList.remove("dark");
      }
    </script>
        <script type="module">
      import "/js/is-land.js";
      import "/js/is-land-autoinit.js";
    </script>         

        <meta property="og:image" content="../uploads/image-3.png"/>
    </head>
    <body class="dark:text-accent-50 text-accent-900">
        <header class="bg-primary-50 dark:bg-primary-800 fixed flex h-40 items-center justify-center py-10 shadow shadow-lg w-full z-[100]" data-pgc="wa.Header">
            <nav class="px-10 container grid grid-cols-2 h-fit items-center justify-center mx-auto w-full md:grid-cols-3"><a href="/" class="font-bold mt-4 text-2xl">SpeedStack</a>
                <ul class="flex hidden items-center justify-around min-w-[50%] text-xl md:flex" id="navbar-dropdown">
                    <li><a href="/">Home</a>
                    </li>
                    <li><a href="/services">Services</a>
                    </li>
                    <li><a href="/blog">Blog</a>
                    </li>
                </ul>
                <div class="flex gap-12 justify-end">
                    <button id="theme-toggle" type="button" class="dark:focus:ring-gray-700 dark:hover:bg-gray-700 dark:text-gray-400 focus:outline-none focus:ring-4 focus:ring-gray-200 hidden hover:bg-gray-100 p-2.5 rounded-lg text-gray-500 text-sm">
                        <svg id="theme-toggle-dark-icon" class="hidden w-5 h-5" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
                            <path d="M17.293 13.293A8 8 0 016.707 2.707a8.001 8.001 0 1010.586 10.586z"></path>
                        </svg>                         
                        <svg id="theme-toggle-light-icon" class="hidden w-5 h-5" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
                            <path d="M10 2a1 1 0 011 1v1a1 1 0 11-2 0V3a1 1 0 011-1zm4 8a4 4 0 11-8 0 4 4 0 018 0zm-.464 4.95l.707.707a1 1 0 001.414-1.414l-.707-.707a1 1 0 00-1.414 1.414zm2.12-10.607a1 1 0 010 1.414l-.706.707a1 1 0 11-1.414-1.414l.707-.707a1 1 0 011.414 0zM17 11a1 1 0 100-2h-1a1 1 0 100 2h1zm-7 4a1 1 0 011 1v1a1 1 0 11-2 0v-1a1 1 0 011-1zM5.05 6.464A1 1 0 106.465 5.05l-.708-.707a1 1 0 00-1.414 1.414l.707.707zm1.414 8.486l-.707.707a1 1 0 01-1.414-1.414l.707-.707a1 1 0 011.414 1.414zM4 11a1 1 0 100-2H3a1 1 0 000 2h1z" fill-rule="evenodd" clip-rule="evenodd"></path>
                        </svg>
                    </button>
                    <is-land on:visible>
                        <div id="drawer-preact" class="block md:hidden"></div>
                        <template data-island>
                            <script type="module">import {
                                render,
                                html,
                              } from "https://unpkg.com/htm/preact/index.mjs?module";
                              import Drawer from "/lib/preact/drawer.client.js";
              
                              render(
                                html`<${Drawer} items=${JSON.parse('[{"route":"/","text":"Home"},{"route":"/services","text":"Services"},{"route":"/blog","text":"Blog"}]')}  />`,
                                document.getElementById("drawer-preact")
                              );</script>
                        </template>
                    </is-land><a href="/contact" class="border-[1px] border-accent-700 hidden justify-self-end px-14 py-5 rounded-full self-center text-accent-50 md:block"><button class="rounded-full text-accent-50 uppercase">Start Project</button></a>
                </div>
            </nav>
        </header>
        <main class="pt-24" data-pgc-field="mainContent">
            <section class="bg-primary-800 flex flex-col h-[70vh] items-center justify-center max-w-screen mx-auto px-14" data-pg-name="hero-section">
                <p class="editable text-green-800 uppercase">100% HAND-CODED WEBSITES STARTING AT $129/MO</p>
                <h1 class="editable text-center text-white uppercase md:text-6xl lg:text-8xl">
          SMALL BUSINESS <br/> WEB DESIGN AND DEVELOPMENT </h1>
            </section>
            <section class="font-serif hidden xl:block">
                {% assign marqueePreact = "./lib/preact/marquee.mjs" | preact %}
                <is-land on:visible>
                    <div id="marquee-preact"></div>
                    <template data-island>
                        <script type="module">
              import {
                render,
                html,
              } from "https://unpkg.com/htm/preact/index.mjs?module";
              import Marquee from "{{ marqueePreact.clientJsUrl }}";

              render(
                html`<${Marquee}
                  message=${[
                    "WEB & GRAPHIC DESIGN",
                    "WEB DEVELOPMENT",
                    "SEO OPTIMIZATION",
                    "BRANDING",
                  ]}
                  speed=${18}
                />`,
                document.getElementById("marquee-preact")
              );
            </script>
                    </template>
                </is-land>
            </section>
            <section class="text-gray-600 body-font">
                <div class="container flex flex-col items-center max-w-screen mx-auto px-5 py-32 md:flex-row md:py-40">
                    <div class="flex flex-col gap-12 items-center mb-16 text-center md:items-start md:mb-0 md:pr-16 md:text-left lg:pr-24">
                        <p class="editable text-green-800 uppercase">100% HAND-CODED WEBSITES STARTING AT $129/MO</p>
                        <h2 class="editable mb-4 text-gray-900 md:pb-32">
              We Code on the JamStack, Ensuring Great Performance and SEO </h2>
                        <ul class="flex flex-col gap-12 justify-center px-12 md:flex-row">
                            <li class="flex gap-4 items-center">
                                <svg width="60" height="60" viewbox="0 0 33 33" fill="none" xmlns="http://www.w3.org/2000/svg" class="h-20 w-20">
                                    <path d="M12.0249 16.6883L14.6971 19.3605L20.0414 14.0161M28.058 16.6883C28.058 23.3295 22.6743 28.7132 16.0332 28.7132C9.39201 28.7132 4.0083 23.3295 4.0083 16.6883C4.0083 10.0472 9.39201 4.66345 16.0332 4.66345C22.6743 4.66345 28.058 10.0472 28.058 16.6883Z" stroke="#4AD697" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                                </svg>
                                <p class="editable leading-relaxed">Fast And Secure&nbsp;</p>
                            </li>
                            <li class="flex gap-4 items-center">
                                <svg width="60" height="60" viewbox="0 0 33 33" fill="none" xmlns="http://www.w3.org/2000/svg" class="h-20 w-20">
                                    <path d="M12.0249 16.6883L14.6971 19.3605L20.0414 14.0161M28.058 16.6883C28.058 23.3295 22.6743 28.7132 16.0332 28.7132C9.39201 28.7132 4.0083 23.3295 4.0083 16.6883C4.0083 10.0472 9.39201 4.66345 16.0332 4.66345C22.6743 4.66345 28.058 10.0472 28.058 16.6883Z" stroke="#4AD697" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                                </svg>
                                <p class="editable leading-relaxed">Scalable and Robust</p>
                            </li>
                            <li class="flex gap-4 items-center">
                                <svg width="60" height="60" viewbox="0 0 33 33" fill="none" xmlns="http://www.w3.org/2000/svg" class="h-20 w-20">
                                    <path d="M12.0249 16.6883L14.6971 19.3605L20.0414 14.0161M28.058 16.6883C28.058 23.3295 22.6743 28.7132 16.0332 28.7132C9.39201 28.7132 4.0083 23.3295 4.0083 16.6883C4.0083 10.0472 9.39201 4.66345 16.0332 4.66345C22.6743 4.66345 28.058 10.0472 28.058 16.6883Z" stroke="#4AD697" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                                </svg>
                                <p class="editable leading-relaxed">High SEO Ranking</p>
                            </li>
                        </ul>
                    </div>
                    <div class="flex items-end justify-end w-5/6 md:w-1/2 lg:w-full">
                        <img class="editable object-center object-cover rounded-3xl" alt="hero" src="images/logos-falling.gif"/>
                    </div>
                </div>
            </section>
            <section class="bg-primary-800 body-font text-gray-600">
                <div class="container flex flex-col gap-12 items-center mx-auto px-5 py-32 md:py-40">
                    <svg width="57" height="56" viewBox="0 0 57 56" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <rect x="0.5" width="56" height="56" rx="28" fill="#F9F5EF"/>
                        <path d="M29.6667 16.3334L18 30.3334H28.5L27.3333 39.6667L39 25.6667H28.5L29.6667 16.3334Z" stroke="#4AD697" stroke-width="2.33333" stroke-linecap="round" stroke-linejoin="round"/>
                    </svg>
                    <h2 class="editable text-center text-white">SpeedStack In Numbers</h2>
                    <p class="editable text-accent-100">
            We&apos;re a young company with an already proven record </p>
                    <ul class="-m-4 flex flex-col text-center text-white md:flex-row">
                        <li class="md:border-r-[1px] md:pr-24">
                            <h4 class="editable font-medium text-green-400 title-font sm:text-4xl">
                6 </h4>
                            <p class="editable leading-relaxed">Projects Completed</p>
                        </li>
                        <li class="md:border-r-[1px] md:pl-12 md:pr-24">
                            <h4 class="editable font-medium text-green-400 title-font sm:text-4xl">
                3 </h4>
                            <p class="editable leading-relaxed">Satisfied Clients</p>
                        </li>
                        <li class="p-4">
                            <h4 class="editable font-medium text-green-400 title-font sm:text-4xl">
                20 </h4>
                            <p class="editable leading-relaxed">Ready made Templates</p>
                        </li>
                    </ul>
                </div>
            </section>
            <section class="hidden p-[10%] rounded-bl-3xl rounded-br-3xl text-black text-center">
                <h2 class="pb-20 text-center">Our operations</h2>
                <p class="pb-24">
          We specialize in small business web design and development for clients
          anywhere in the EU. We code on the JamStack ensuring best performance,
          which helps drive more customers to your business which translates to
          more revenue. </p>
                <ul class="gap-14 gird-cols-1 grid text-left md:pl-[30vw]">
                    <li class="flex flex-col gap-10 pb-14">
                        <h3>Mobile first design</h3>
                        <p>
              All our websites are created for mobiles first, after that they
              are adjusted for tablet and desktop. </p>
                    </li>
                    <li class="flex flex-col gap-10 pb-14">
                        <h3>Optimization</h3>
                        <p>
              JamStack websites are speed optimized by design, after the site is
              completed we run tests on it, to get it to a perfect 100% google
              score. Which is guranteed to rank you higher on search engines. </p>
                    </li>
                    <li class="flex flex-col gap-10 pb-14">
                        <h3>SEO</h3>
                        <p>
              With perfect speed scores, the last piece of the puzzle is perfect
              SEO scores, having us as a partner… </p>
                    </li>
                </ul>
            </section>
            <section class="bg-white fle flex flex-col items-center px-12 py-32 rounded-b-3xl text-black md:py-40">
                <h2 class="pb-20 text-center"><span class="text-green-400">$0 Down</span>, $129 Per Month,<br>
          12 Month <span class="text-slate-400">Minimum Contract</span></h2>
                <p class="editable pb-4 text-center">
          Yes, we start you at $0, for a standard 5 page website, if you need
          more we have custom pricing based on the scope of work. <br/>
          You own everything, the domain the content and the listing. Cancel
          anytime with no fees. </p>
                <ul class="gap-20 grid pt-20 text-base md:text-3xl">
                    <li class="delay-0 duration-200 ease-linear flex font-bold gap-12 items-center transition will-change-scroll" style="transition: opacity 1">
                        <svg width="50" height="35" viewbox="0 0 62 45" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <g clip-path="url(#clip0_282_159)">
                                <path d="M0.621726 27.8193C-0.151754 27.1241 -0.211796 25.938 0.488019 25.1701C1.18834 24.4018 2.38312 24.3427 3.15711 25.0374L20.3387 40.5036L58.7346 0.58399C59.4557 -0.16783 60.654 -0.197883 61.4113 0.517874C62.1691 1.23313 62.1989 2.42272 61.4784 3.17504L21.8084 44.4194L21.8059 44.4169C21.1015 45.1522 19.931 45.1998 19.1686 44.5151L0.621726 27.8193Z" fill="#4AD697"/>
                            </g>
                            <defs>
                                <clippath id="clip0_282_159">
                                    <rect width="62" height="45" fill="white"/>
                                </clippath>
                            </defs>
                        </svg>
                        Hosting fees included
                    </li>
                    <li class="flex font-bold gap-12 items-center">
                        <svg width="50" height="35" viewbox="0 0 62 45" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <g clip-path="url(#clip0_282_159)">
                                <path d="M0.621726 27.8193C-0.151754 27.1241 -0.211796 25.938 0.488019 25.1701C1.18834 24.4018 2.38312 24.3427 3.15711 25.0374L20.3387 40.5036L58.7346 0.58399C59.4557 -0.16783 60.654 -0.197883 61.4113 0.517874C62.1691 1.23313 62.1989 2.42272 61.4784 3.17504L21.8084 44.4194L21.8059 44.4169C21.1015 45.1522 19.931 45.1998 19.1686 44.5151L0.621726 27.8193Z" fill="#4AD697"/>
                            </g>
                            <defs>
                                <clippath id="clip0_282_159">
                                    <rect width="62" height="45" fill="white"/>
                                </clippath>
                            </defs>
                        </svg>
                        Unlimited edits
                    </li>
                    <li class="flex font-bold gap-12 items-center">
                        <svg width="50" height="35" viewbox="0 0 62 45" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <g clip-path="url(#clip0_282_159)">
                                <path d="M0.621726 27.8193C-0.151754 27.1241 -0.211796 25.938 0.488019 25.1701C1.18834 24.4018 2.38312 24.3427 3.15711 25.0374L20.3387 40.5036L58.7346 0.58399C59.4557 -0.16783 60.654 -0.197883 61.4113 0.517874C62.1691 1.23313 62.1989 2.42272 61.4784 3.17504L21.8084 44.4194L21.8059 44.4169C21.1015 45.1522 19.931 45.1998 19.1686 44.5151L0.621726 27.8193Z" fill="#4AD697"/>
                            </g>
                            <defs>
                                <clippath id="clip0_282_159">
                                    <rect width="62" height="45" fill="white"/>
                                </clippath>
                            </defs>
                        </svg>
                        24/7 Customer service
                    </li>
                    <li class="flex font-bold gap-12 items-center">
                        <svg width="50" height="35" viewbox="0 0 62 45" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <g clip-path="url(#clip0_282_159)">
                                <path d="M0.621726 27.8193C-0.151754 27.1241 -0.211796 25.938 0.488019 25.1701C1.18834 24.4018 2.38312 24.3427 3.15711 25.0374L20.3387 40.5036L58.7346 0.58399C59.4557 -0.16783 60.654 -0.197883 61.4113 0.517874C62.1691 1.23313 62.1989 2.42272 61.4784 3.17504L21.8084 44.4194L21.8059 44.4169C21.1015 45.1522 19.931 45.1998 19.1686 44.5151L0.621726 27.8193Z" fill="#4AD697"/>
                            </g>
                            <defs>
                                <clippath id="clip0_282_159">
                                    <rect width="62" height="45" fill="white"/>
                                </clippath>
                            </defs>
                        </svg>
                        Web deisgn and development
                    </li>
                    <li class="flex font-bold gap-12 items-center">
                        <svg width="50" height="35" viewbox="0 0 62 45" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <g clip-path="url(#clip0_282_159)">
                                <path d="M0.621726 27.8193C-0.151754 27.1241 -0.211796 25.938 0.488019 25.1701C1.18834 24.4018 2.38312 24.3427 3.15711 25.0374L20.3387 40.5036L58.7346 0.58399C59.4557 -0.16783 60.654 -0.197883 61.4113 0.517874C62.1691 1.23313 62.1989 2.42272 61.4784 3.17504L21.8084 44.4194L21.8059 44.4169C21.1015 45.1522 19.931 45.1998 19.1686 44.5151L0.621726 27.8193Z" fill="#4AD697"/>
                            </g>
                            <defs>
                                <clippath id="clip0_282_159">
                                    <rect width="62" height="45" fill="white"/>
                                </clippath>
                            </defs>
                        </svg>
                        JamStack site with perfect scores
                    </li>
                    <li class="flex font-bold gap-12 items-center">
                        <svg width="50" height="35" viewbox="0 0 62 45" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <g clip-path="url(#clip0_282_159)">
                                <path d="M0.621726 27.8193C-0.151754 27.1241 -0.211796 25.938 0.488019 25.1701C1.18834 24.4018 2.38312 24.3427 3.15711 25.0374L20.3387 40.5036L58.7346 0.58399C59.4557 -0.16783 60.654 -0.197883 61.4113 0.517874C62.1691 1.23313 62.1989 2.42272 61.4784 3.17504L21.8084 44.4194L21.8059 44.4169C21.1015 45.1522 19.931 45.1998 19.1686 44.5151L0.621726 27.8193Z" fill="#4AD697"/>
                            </g>
                            <defs>
                                <clippath id="clip0_282_159">
                                    <rect width="62" height="45" fill="white"/>
                                </clippath>
                            </defs>
                        </svg>
                        Analytics and tracking
                    </li>
                </ul>
            </section>
            <section class="bg-primary-800 px-12 py-32 text-black text-white md:py-40">
                <div class="container mx-auto">
                    <h2 class="pb-12 text-center">Packages</h2>
                    <p class="editable max-w-5xl mx-auto pb-32 text-center">
            We also do tailored packages/offers based on your needs.<br/>Book a <a href="/free-consultation" class="text-green-400 underline">Free Consulataion Call</a>&nbsp;to see what fits your needs. </p>
                    <ul class="gap-24 grid md:gap-10 lg:grid-cols-3">
                        <li>
                            <div class="bg-green-400 flex flex-col justify-between min-h- min-h-[600px] p-14 rounded-3xl text-black text-neutral">
                                <h3 class="pb-10">E-Commerce</h3>
                                <p class="font-bold pb-12 text-left"> <span class="text-4xl">$7500</span> <br/><span class="text-neutral-300">minimum uprfront cost</span> </p>
                                <ul class="flex flex-col gap-10 text-left">
                                    <li class="flex gap-4 items-center">
                                        <svg width="25" height="19" viewBox="0 0 25 19" fill="none" xmlns="http://www.w3.org/2000/svg">
                                            <g clip-path="url(#clip0_294_229)">
                                                <path d="M0.250696 11.7459C-0.0611911 11.4524 -0.0854015 10.9516 0.196782 10.6274C0.479169 10.303 0.960936 10.278 1.27303 10.5714L8.20107 17.1015L23.6833 0.246574C23.9741 -0.0708616 24.4572 -0.0835505 24.7626 0.218658C25.0682 0.520655 25.0802 1.02293 24.7897 1.34057L8.79372 18.7549L8.7927 18.7538C8.50869 19.0643 8.03668 19.0844 7.72927 18.7953L0.250696 11.7459Z" fill="#191B1D"></path>
                                            </g>
                                            <defs>
                                                <clipPath id="clip0_294_229">
                                                    <rect width="25" height="19" fill="white"></rect>
                                                </clipPath>
                                            </defs>
                                        </svg>
                                        Starting at $7.5k
                                    </li>
                                    <li class="flex gap-4 items-center">
                                        <svg width="25" height="19" viewBox="0 0 25 19" fill="none" xmlns="http://www.w3.org/2000/svg">
                                            <g clip-path="url(#clip0_294_229)">
                                                <path d="M0.250696 11.7459C-0.0611911 11.4524 -0.0854015 10.9516 0.196782 10.6274C0.479169 10.303 0.960936 10.278 1.27303 10.5714L8.20107 17.1015L23.6833 0.246574C23.9741 -0.0708616 24.4572 -0.0835505 24.7626 0.218658C25.0682 0.520655 25.0802 1.02293 24.7897 1.34057L8.79372 18.7549L8.7927 18.7538C8.50869 19.0643 8.03668 19.0844 7.72927 18.7953L0.250696 11.7459Z" fill="#191B1D"></path>
                                            </g>
                                            <defs>
                                                <clipPath id="clip0_294_229">
                                                    <rect width="25" height="19" fill="white"></rect>
                                                </clipPath>
                                            </defs>
                                        </svg>                                                                                                                                                                                                                                                $7500 minimum upfront cost
                                    </li>
                                    <li class="flex gap-4 items-center">
                                        <svg width="25" height="19" viewbox="0 0 25 19" fill="none" xmlns="http://www.w3.org/2000/svg">
                                            <g clip-path="url(#clip0_294_229)">
                                                <path d="M0.250696 11.7459C-0.0611911 11.4524 -0.0854015 10.9516 0.196782 10.6274C0.479169 10.303 0.960936 10.278 1.27303 10.5714L8.20107 17.1015L23.6833 0.246574C23.9741 -0.0708616 24.4572 -0.0835505 24.7626 0.218658C25.0682 0.520655 25.0802 1.02293 24.7897 1.34057L8.79372 18.7549L8.7927 18.7538C8.50869 19.0643 8.03668 19.0844 7.72927 18.7953L0.250696 11.7459Z" fill="#191B1D"/>
                                            </g>
                                            <defs>
                                                <clippath id="clip0_294_229">
                                                    <rect width="25" height="19" fill="white"/>
                                                </clippath>
                                            </defs>
                                        </svg>
                                        Shopify intergation
                                    </li>
                                    <li class="flex gap-4 items-center">
                                        <svg width="25" height="19" viewbox="0 0 25 19" fill="none" xmlns="http://www.w3.org/2000/svg">
                                            <g clip-path="url(#clip0_294_229)">
                                                <path d="M0.250696 11.7459C-0.0611911 11.4524 -0.0854015 10.9516 0.196782 10.6274C0.479169 10.303 0.960936 10.278 1.27303 10.5714L8.20107 17.1015L23.6833 0.246574C23.9741 -0.0708616 24.4572 -0.0835505 24.7626 0.218658C25.0682 0.520655 25.0802 1.02293 24.7897 1.34057L8.79372 18.7549L8.7927 18.7538C8.50869 19.0643 8.03668 19.0844 7.72927 18.7953L0.250696 11.7459Z" fill="#191B1D"/>
                                            </g>
                                            <defs>
                                                <clippath id="clip0_294_229">
                                                    <rect width="25" height="19" fill="white"/>
                                                </clippath>
                                            </defs>
                                        </svg>
                                        Editable content
                                    </li>
                                    <li class="flex gap-4 items-center">
                                        <svg width="25" height="19" viewBox="0 0 25 19" fill="none" xmlns="http://www.w3.org/2000/svg">
                                            <g clip-path="url(#clip0_294_229)">
                                                <path d="M0.250696 11.7459C-0.0611911 11.4524 -0.0854015 10.9516 0.196782 10.6274C0.479169 10.303 0.960936 10.278 1.27303 10.5714L8.20107 17.1015L23.6833 0.246574C23.9741 -0.0708616 24.4572 -0.0835505 24.7626 0.218658C25.0682 0.520655 25.0802 1.02293 24.7897 1.34057L8.79372 18.7549L8.7927 18.7538C8.50869 19.0643 8.03668 19.0844 7.72927 18.7953L0.250696 11.7459Z" fill="#191B1D"></path>
                                            </g>
                                            <defs>
                                                <clipPath id="clip0_294_229">
                                                    <rect width="25" height="19" fill="white"></rect>
                                                </clipPath>
                                            </defs>
                                        </svg>
                                        Additional subscription avaliable
                                        <div></div>
                                    </li>
                                </ul>
                                <custombutton class="bg-blue mt-16 w-full">
                                    <button class="border-[1px] border-black py-6 rounded-full text-black w-full">
                                        Start Project
</button>
                                </custombutton>
                            </div>
                        </li>
                        <li>
                            <div class="bg-white flex flex-col justify-between min-h- min-h-[600px] p-14 rounded-3xl text-black text-neutral">
                                <h3 class="pb-10">Standard</h3>
                                <p class="font-bold pb-12 text-5xl text-left">$129&nbsp;<span class="text-neutral-300">/ per month</span></p>
                                <ul class="flex flex-col gap-10">
                                    <li class="flex gap-4 items-center">
                                        <svg width="25" height="19" viewbox="0 0 25 19" fill="none" xmlns="http://www.w3.org/2000/svg">
                                            <g clip-path="url(#clip0_294_229)">
                                                <path d="M0.250696 11.7459C-0.0611911 11.4524 -0.0854015 10.9516 0.196782 10.6274C0.479169 10.303 0.960936 10.278 1.27303 10.5714L8.20107 17.1015L23.6833 0.246574C23.9741 -0.0708616 24.4572 -0.0835505 24.7626 0.218658C25.0682 0.520655 25.0802 1.02293 24.7897 1.34057L8.79372 18.7549L8.7927 18.7538C8.50869 19.0643 8.03668 19.0844 7.72927 18.7953L0.250696 11.7459Z" fill="#191B1D"/>
                                            </g>
                                            <defs>
                                                <clippath id="clip0_294_229">
                                                    <rect width="25" height="19" fill="white"/>
                                                </clippath>
                                            </defs>
                                        </svg>
                                        100€ per month**
                                    </li>
                                    <li class="flex gap-4 items-center">
                                        <svg width="25" height="19" viewBox="0 0 25 19" fill="none" xmlns="http://www.w3.org/2000/svg">
                                            <g clip-path="url(#clip0_294_229)">
                                                <path d="M0.250696 11.7459C-0.0611911 11.4524 -0.0854015 10.9516 0.196782 10.6274C0.479169 10.303 0.960936 10.278 1.27303 10.5714L8.20107 17.1015L23.6833 0.246574C23.9741 -0.0708616 24.4572 -0.0835505 24.7626 0.218658C25.0682 0.520655 25.0802 1.02293 24.7897 1.34057L8.79372 18.7549L8.7927 18.7538C8.50869 19.0643 8.03668 19.0844 7.72927 18.7953L0.250696 11.7459Z" fill="#191B1D"></path>
                                            </g>
                                            <defs>
                                                <clipPath id="clip0_294_229">
                                                    <rect width="25" height="19" fill="white"></rect>
                                                </clipPath>
                                            </defs>
                                        </svg>
                                        Website edits
                                    </li>
                                    <li class="flex gap-4 items-center">
                                        <svg width="25" height="19" viewbox="0 0 25 19" fill="none" xmlns="http://www.w3.org/2000/svg">
                                            <g clip-path="url(#clip0_294_229)">
                                                <path d="M0.250696 11.7459C-0.0611911 11.4524 -0.0854015 10.9516 0.196782 10.6274C0.479169 10.303 0.960936 10.278 1.27303 10.5714L8.20107 17.1015L23.6833 0.246574C23.9741 -0.0708616 24.4572 -0.0835505 24.7626 0.218658C25.0682 0.520655 25.0802 1.02293 24.7897 1.34057L8.79372 18.7549L8.7927 18.7538C8.50869 19.0643 8.03668 19.0844 7.72927 18.7953L0.250696 11.7459Z" fill="#191B1D"/>
                                            </g>
                                            <defs>
                                                <clippath id="clip0_294_229">
                                                    <rect width="25" height="19" fill="white"/>
                                                </clippath>
                                            </defs>
                                        </svg>
                                        Includes Hosting
                                    </li>
                                    <li class="flex gap-4 items-center">
                                        <svg width="25" height="19" viewbox="0 0 25 19" fill="none" xmlns="http://www.w3.org/2000/svg">
                                            <g clip-path="url(#clip0_294_229)">
                                                <path d="M0.250696 11.7459C-0.0611911 11.4524 -0.0854015 10.9516 0.196782 10.6274C0.479169 10.303 0.960936 10.278 1.27303 10.5714L8.20107 17.1015L23.6833 0.246574C23.9741 -0.0708616 24.4572 -0.0835505 24.7626 0.218658C25.0682 0.520655 25.0802 1.02293 24.7897 1.34057L8.79372 18.7549L8.7927 18.7538C8.50869 19.0643 8.03668 19.0844 7.72927 18.7953L0.250696 11.7459Z" fill="#191B1D"/>
                                            </g>
                                            <defs>
                                                <clippath id="clip0_294_229">
                                                    <rect width="25" height="19" fill="white"/>
                                                </clippath>
                                            </defs>
                                        </svg>
                                        24/7 Customer Service
                                    </li>
                                    <li class="flex gap-4 items-center">
                                        <svg width="25" height="19" viewbox="0 0 25 19" fill="none" xmlns="http://www.w3.org/2000/svg">
                                            <g clip-path="url(#clip0_294_229)">
                                                <path d="M0.250696 11.7459C-0.0611911 11.4524 -0.0854015 10.9516 0.196782 10.6274C0.479169 10.303 0.960936 10.278 1.27303 10.5714L8.20107 17.1015L23.6833 0.246574C23.9741 -0.0708616 24.4572 -0.0835505 24.7626 0.218658C25.0682 0.520655 25.0802 1.02293 24.7897 1.34057L8.79372 18.7549L8.7927 18.7538C8.50869 19.0643 8.03668 19.0844 7.72927 18.7953L0.250696 11.7459Z" fill="#191B1D"/>
                                            </g>
                                            <defs>
                                                <clippath id="clip0_294_229">
                                                    <rect width="25" height="19" fill="white"/>
                                                </clippath>
                                            </defs>
                                        </svg>
                                        Lifetime Updates
                                    </li>
                                </ul>
                                <custombutton class="mt-16 w-full">
                                    <button class="border-[1px] border-black py-6 rounded-full text-black w-full">
                                        Start Project
</button>
                                </custombutton>
                            </div>
                        </li>
                        <li>
                            <div class="bg-green-800 flex flex-col justify-between min-h- min-h-[600px] p-14 rounded-3xl text-neutral">
                                <h3 class="pb-10">Bonus for Subscriptions</h3>
                                <p class="font-bold pb-12 text-5xl text-left">$0</p>
                                <ul class="flex flex-col gap-10">
                                    <li class="flex gap-4 items-center">
                                        <svg width="25" height="19" viewbox="0 0 25 19" fill="none" xmlns="http://www.w3.org/2000/svg">
                                            <g clip-path="url(#clip0_294_229)">
                                                <path d="M0.250696 11.7459C-0.0611911 11.4524 -0.0854015 10.9516 0.196782 10.6274C0.479169 10.303 0.960936 10.278 1.27303 10.5714L8.20107 17.1015L23.6833 0.246574C23.9741 -0.0708616 24.4572 -0.0835505 24.7626 0.218658C25.0682 0.520655 25.0802 1.02293 24.7897 1.34057L8.79372 18.7549L8.7927 18.7538C8.50869 19.0643 8.03668 19.0844 7.72927 18.7953L0.250696 11.7459Z" fill="#fff
        "/>
                                            </g>
                                            <defs>
                                                <clippath id="clip0_294_229">
                                                    <rect width="25" height="19" fill="white"/>
                                                </clippath>
                                            </defs>
                                        </svg>
                                        Free Logo Design
                                    </li>
                                    <li class="flex gap-4 items-center">
                                        <svg width="25" height="19" viewbox="0 0 25 19" fill="none" xmlns="http://www.w3.org/2000/svg">
                                            <g clip-path="url(#clip0_294_229)">
                                                <path d="M0.250696 11.7459C-0.0611911 11.4524 -0.0854015 10.9516 0.196782 10.6274C0.479169 10.303 0.960936 10.278 1.27303 10.5714L8.20107 17.1015L23.6833 0.246574C23.9741 -0.0708616 24.4572 -0.0835505 24.7626 0.218658C25.0682 0.520655 25.0802 1.02293 24.7897 1.34057L8.79372 18.7549L8.7927 18.7538C8.50869 19.0643 8.03668 19.0844 7.72927 18.7953L0.250696 11.7459Z" fill="#fff
        "/>
                                            </g>
                                            <defs>
                                                <clippath id="clip0_294_229">
                                                    <rect width="25" height="19" fill="white"/>
                                                </clippath>
                                            </defs>
                                        </svg>
                                        Free Web Design
                                    </li>
                                    <li class="flex gap-4 items-center">
                                        <svg width="25" height="19" viewbox="0 0 25 19" fill="none" xmlns="http://www.w3.org/2000/svg">
                                            <g clip-path="url(#clip0_294_229)">
                                                <path d="M0.250696 11.7459C-0.0611911 11.4524 -0.0854015 10.9516 0.196782 10.6274C0.479169 10.303 0.960936 10.278 1.27303 10.5714L8.20107 17.1015L23.6833 0.246574C23.9741 -0.0708616 24.4572 -0.0835505 24.7626 0.218658C25.0682 0.520655 25.0802 1.02293 24.7897 1.34057L8.79372 18.7549L8.7927 18.7538C8.50869 19.0643 8.03668 19.0844 7.72927 18.7953L0.250696 11.7459Z" fill="#fff
        "/>
                                            </g>
                                            <defs>
                                                <clippath id="clip0_294_229">
                                                    <rect width="25" height="19" fill="white"/>
                                                </clippath>
                                            </defs>
                                        </svg>
                                        2 banners
                                    </li>
                                    <li class="flex gap-4 items-center">
                                        <svg width="25" height="19" viewbox="0 0 25 19" fill="none" xmlns="http://www.w3.org/2000/svg">
                                            <g clip-path="url(#clip0_294_229)">
                                                <path d="M0.250696 11.7459C-0.0611911 11.4524 -0.0854015 10.9516 0.196782 10.6274C0.479169 10.303 0.960936 10.278 1.27303 10.5714L8.20107 17.1015L23.6833 0.246574C23.9741 -0.0708616 24.4572 -0.0835505 24.7626 0.218658C25.0682 0.520655 25.0802 1.02293 24.7897 1.34057L8.79372 18.7549L8.7927 18.7538C8.50869 19.0643 8.03668 19.0844 7.72927 18.7953L0.250696 11.7459Z" fill="#fff
        "/>
                                            </g>
                                            <defs>
                                                <clippath id="clip0_294_229">
                                                    <rect width="25" height="19" fill="white"/>
                                                </clippath>
                                            </defs>
                                        </svg>
                                        Social Media Ad design
                                    </li>
                                </ul>
                                <custombutton class="mt-16 w-full">
                                    <button class="border-[1px] border-white py-6 rounded-full text-white w-full">
                                        Start Project
</button>
                                </custombutton>
                            </div>
                        </li>
                    </ul>
                </div>
            </section>
            <section class="container dark:bg-white mx-auto py-32 text-black md:py-40">
                <h2 class="not-italic pb-10 px-[10%] text-center md:pb-24">
          Advantages of becoming <span class="text-green-400">our partner</span> </h2>
                <ul class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3">
                    <li class="flex flex-col gap-24 h-[500px] items-center justify-center p-32 text-center transition-all">
                        <h4 class="editable">Lifetime Partner</h4>
                        <p class="editable">
              We’re not a 1 off design and develop agency, you get us as a
              lifetime partner </p>
                    </li>
                    <li class="flex flex-col gap-24 h-[500px] items-center justify-center p-32 text-center transition-all">
                        <h4 class="editable">High Standards</h4>
                        <p class="editable">
              Everything is optimized to the highest standards, you get an
              actual developer working on your site and not just designers that
              will make it “look nice”. </p>
                    </li>
                    <li class="flex flex-col gap-24 h-[500px] items-center justify-center p-32 text-center transition-all">
                        <h4 class="editable">Tech Support</h4>
                        <p class="editable">
              We take care of all the rest of the technical stuff, so you can
              focus fully on your business and just get the benefits of online
              presence </p>
                    </li>
                    <li class="flex flex-col gap-24 h-[500px] items-center justify-center p-32 text-center transition-all">
                        <h4 class="editable">Frequent Updates</h4>
                        <p class="editable">Each subscription package includes website updates</p>
                    </li>
                    <li class="flex flex-col gap-24 h-[500px] items-center justify-center p-32 text-center transition-all">
                        <h4 class="editable">Affordable</h4>
                        <p class="editable">
              We start at 100€ per month, making it affordable for everyone </p>
                    </li>
                    <li class="flex flex-col gap-24 h-[500px] items-center justify-center p-32 text-center transition-all">
                        <h4 class="editable">Fast Delivery</h4>
                        <p class="editable">
              We gurantee fast delivery as we’ve optimized and streamlined our
              design/development process over the years </p>
                    </li>
                </ul>
            </section>
            <section class="bg-primary-800 px-10 py-20 text-center md:py-40">
                <h2 class="pb-10 pb-20">Case Studies</h2>
                <p class="max-w-7xl mx-auto">We don’t only offer maintentce and hosting, but you get us as a partner, meaning we follow the latest changes in tech and make sure your website is alligened and up to date with that.</p>
                <ul class="container flex flex-col gap-20 items-center justify-center mt-20 mx-auto lg:flex-row">
                    <li class="bg-primary-600 max-w-3xl p-20 rounded-2xl text-left">
                        <h3 class="pb-10">Salinas Data</h3>
                        <p class="mb-10 pb-10">We don’t only offer maintentce and hosting, but you get us as a partner, meaning we follow the latest changes in tech and make sure your website is alligened and up to date with that.</p><a href='/salinas-data' class="!border-green-400 !text-green-400 btn">READ MORE</a>
                    </li>
                    <li class="!border-green-400 bg-primary-600 max-w-3xl p-20 rounded-2xl text-left">
                        <h3 class="pb-10">Nonstop Dogwear</h3>
                        <p class="mb-10 pb-10">We don’t only offer maintentce and hosting, but you get us as a partner, meaning we follow the latest changes in tech and make sure your website is alligened and up to date with that.</p><a class="!border-green-400 !text-green-400 btn">READ MORE</a>
                    </li>
                </ul>
            </section>
            <section class="px-12 py-32 text-black md:py-40">
                <div class="container mx-auto">
                    <p class="text-green-800 uppercase">FAQ</p>
                    <h2>Answers to our frequently asked questions</h2>
                    <div id="accordion-flush" data-accordion="collapse" data-active-classes="bg-white dark:bg-gray-900 text-gray-900 dark:text-white" data-inactive-classes="text-gray-500 dark:text-gray-400" class="mt-10">
                        {% assign faqs = collections.faqs %}
                        {% for faq in faqs %}
                        {% if faq.data.homepage %}
                        <div id="accordion-flush-heading-{{ forloop.index }}">
                            <button type="button" class="border-b border-gray-200 dark:border-gray-700 flex gap-3 justify-between px-4 py-5 text-3xl text-black w-full" data-accordion-target="#accordion-flush-body-{{ forloop.index }}" aria-expanded="false" aria-controls="accordion-flush-body-{{ forloop.index }}">
                                <h4 class="text-2xl text-left font-sans">
        {{ faq.data.question }} </h4>
                                <svg data-accordion-icon="" class="h-10 rotate-180 shrink-0 w-10" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 10 6">
                                    <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 5 5 1 1 5"/>
                                </svg>
                            </button>
                        </div>
                        {% endif %}
                        <div id="accordion-flush-body-{{ forloop.index }}" class="hidden" aria-labelledby="accordion-flush-heading-{{ forloop.index }}">
                            <div class=" border-b border-gray-200 dark:border-gray-700 px-10 py-5">
                                <div class="py-10 max-w-5xl [&>*>a]:text-green-400 [&>*>a]:underline [&>ul]:flex [&>ul]:flex-col [&>ul]:gap-4 [&>ul]:py-10">
                                    {{faq.content}}
</div>
                            </div>
                        </div>
                        {% endfor %}
                    </div>
                </div>
            </section>
        </main>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/flowbite/2.3.0/flowbite.min.js"></script>
        <script src="/static/js/alpine.js"></script>
        <script>
      var themeToggleDarkIcon = document.getElementById(
        "theme-toggle-dark-icon"
      );
      var themeToggleLightIcon = document.getElementById(
        "theme-toggle-light-icon"
      );

      // Change the icons inside the button based on previous settings
      if (
        localStorage.getItem("color-theme") === "dark" ||
        (!("color-theme" in localStorage) &&
          window.matchMedia("(prefers-color-scheme: dark)").matches)
      ) {
        themeToggleLightIcon.classList.remove("hidden");
      } else {
        themeToggleDarkIcon.classList.remove("hidden");
      }

      var themeToggleBtn = document.getElementById("theme-toggle");

      themeToggleBtn.addEventListener("click", function () {
        // toggle icons inside button
        themeToggleDarkIcon.classList.toggle("hidden");
        themeToggleLightIcon.classList.toggle("hidden");

        // if set via local storage previously
        if (localStorage.getItem("color-theme")) {
          if (localStorage.getItem("color-theme") === "light") {
            document.documentElement.classList.add("dark");
            localStorage.setItem("color-theme", "dark");
          } else {
            document.documentElement.classList.remove("dark");
            localStorage.setItem("color-theme", "light");
          }

          // if NOT set via local storage previously
        } else {
          if (document.documentElement.classList.contains("dark")) {
            document.documentElement.classList.remove("dark");
            localStorage.setItem("color-theme", "light");
          } else {
            document.documentElement.classList.add("dark");
            localStorage.setItem("color-theme", "dark");
          }
        }
      });
    </script>
        <footer class="bg-primary-50 dark:bg-primary-800 pb-20 pt-32 shadow-xl" data-pgc="wa.Footer">
            <div class="container grid grid-cols-1 mx-auto px-10 md:px-0 lg:grid-cols-2">
                <div class="mx-auto pr-24"><a href="/" class="font-bold mt-4 text-2xl">SpeedStack</a>
                    <p class="mt-2">Custom coded websites with great peformance and high ranking SEO, serving small businesses,</p>
                    <p class="mt-2">When you&apos;re unsure about the technology stack for your next project, choose the SpeedStack.</p>
                </div>
                <div class="flex gap-8 justify-end">
                    <div>
                        <ul class="flex flex-col gap-2">
                            <li><a href="/tiers" class="cursor-pointer underline">Pricing</a>
                            </li>
                            <li><a href="/free-consultation" class="cursor-pointer underline">Free consulatation</a>
                            </li>
                            <li><a href="/contact" class="cursor-pointer underline">Contact us</a>
                            </li>
                            <li><a href="https://docs.google.com/forms/d/1dtqeeshhtozp2vVflnWmww7c-LlSKrjvTTCrQVhJx3E/edit" spellcheck="false" data-medium-editor-element="true" role="textbox" aria-multiline="true" data-medium-editor-editor-index="18" medium-editor-index="41d3c34d-7200-fc77-212f-ac204aed5edc" data-placeholder="Type your text" data-medium-focused="true" class="cursor-pointer underline">Questionnaire</a>
                            </li>
                        </ul>
                    </div>
                    <div>
                        <ul class="flex flex-col gap-2">
                            <li><a href="/services" class="cursor-pointer underline">Services</a>
                            </li>
                            <li><a href="/jamstack" class="cursor-pointer underline">Jamstack</a>
                            </li>
                            <li><a href="/blog" class="cursor-pointer underline">Blog</a>
                            </li>
                            <li><a href="/portfolio" class="cursor-pointer underline">Portfolio</a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="border-accent-950 border-t-2 col-span-2 dark:border-accent-100 mt-20">
                    <ul class="flex justify-between py-8">
                        <li><a class="pr-10 border-r-[1px]">Privacy Policy</a> <a class="pl-10">Terms &amp; Conditions</a> <a class="pl-10"></a>
                        </li>
                        <li class="justify-self-end self-end">© Copyright SpeedStack 2024</li>
                    </ul>
                </div>
            </div>
        </footer>
    </body>
</html>
